NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/ecommerce

# JWT
JWT_ACCESS_SECRET=replace_with_long_random_string
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace_with_a_different_long_random_string
JWT_REFRESH_EXPIRES_IN=30d

# Cookies
COOKIE_DOMAIN=
COOKIE_SAME_SITE=lax

# Client
CLIENT_URL=http://localhost:5173

# Stripe
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
